table{
	margin-top:40px;
	margin-left:400px;
	width:auto;
	border: 2px solid black;	
}

tr,td{
	text-align:left;	
	padding:5px;
}	

h1{
	color:#FF8033;
	margin-top:60px;
}

body{
    margin: 0px;
    padding: 0px;
    background-image: url('bg.webp'); 
    background-size: cover;
    background-position: center;
}